body {
  background-color: #eee;
}

// Global

progress {
  width: 100%;
}

.form-group {

  // input {
  //   -moz-user-select: none;
  //   -webkit-user-select: none;
  //   -ms-user-select: none;
  //   user-select: none;
  // }

  & > .glyphicon-ok {
    visibility: hidden;
    position: absolute;
    right: 10px;
    top: 40px;
  }

  &.valid {
    position: relative;

    & > .glyphicon-ok {
      visibility: visible;
    }
  }
}

.form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;

  &:focus {
    z-index: 2;
  }
}

// Per-page specifics

.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  .bio-collapsible {
    overflow: hidden;
    transition: .5s max-height ease-in-out;
    max-height: 320px;
    position: relative;
    border: 1px solid #777;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;

    &.collapsed {
      max-height: 40px;
      cursor: pointer;

      & > * {
        cursor: pointer;
      }

      &:hover {
        background-color: #fff;
      }

      &:after {
        content: "+";
        position: absolute;
        top: 1px;
        right: 10px;
        font-size: 30px;
        line-height: 30px;
        color: #777;
      }
    }

    & > label {
      color: #777;
      margin-bottom: 10px;
    }
  }

  #gravatarImg {
    max-width: 50%;
  }

  .form-group {
    .input-group .input-group-btn .btn {
      padding-top: 10px;
      padding-bottom: 12px;
    }
  }

}

.events {
  padding-top: 70px;

  #newEvent {
    background-color: #ddd;
    border-left: 1px solid #bbb;
    transition: 0.3s;

    &:hover,
    &:active {
      background-color: #777;
      color: #ddd;
    }
  }
}

.form-newevent {
  input[type="datetime-local"].form-control {
    padding-bottom: 4px;
    padding-top: 4px;
  }

  .input-group-btn a {
    padding: 11px;
  }
}
